# <AIDD-PRIVACY>
#
# You might want to ignore the following files and directories:
#
aidd* # AIDD installation folder
aidd/
aidd-docs/

.claude
.opencode
# aidd-generated removed (legacy)

# </AIDD-PRIVACY>